<div class="registration_block">
  <div class="header">
    <p class="registration"><strong>Вы успешно вышли!</strong></p>
  </div>
  <div class="main_content">
      <div class="move_to_buttons">
        <button mat-button class="move_to_button next_button" routerLink="/login">
          <p class="button_text white_text">Войти</p>
        </button>
        <button mat-button class="move_to_button login_button" routerLink="/signup">
          <p class="button_text orange_text">Регистрация</p>
        </button>
      </div>
  </div>
</div>
