
.game_block {
  width: 588px;
  height: 542px;

  background: #D9B4A7;
  border-radius: 10px;

  .cell_button {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 5px;
    border-radius: 0;
  }
  .bright_color {
    background-color: RGB(234,240,206);
  }
  .dark_color {
    background-color: RGB(187,190,100);
  }
  .blue_button {
    background-image: url(/assets/img/blue.png);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
  }
  .red_button {
    background-image: url(/assets/img/red.png);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
  }

}
